<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
  </head>

<body>

<!--Header--> 
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Healthy Basket</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signin">Login</a></li>
            <li><a href="#" data-toggle="modal" data-target="#myModal" data-whatever="Delivery Hours">Delivery Hours</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<br><br><br><br><br>
 <div class="col-xs-6" style="padding-left: 350px;">
          <div id="signup-section" style="width: 515px;">
  <div id="sign-up-info" class="info-card info-card-padding roundify">
    <div class="content-section-headings" align = "center">
     <div class="center-text">
      <h3 class="content-section-header">Create Account</h3>
      <h5 class="content-section-subheader">Sign up takes less than 20 seconds</h5>
    </div>
    </div>
    <form id="sign-up-info-form" 
    class="form-horizontal" 
    method="post"
    action="signup"
      >
          <div class="form-group">
        <label class="control-label col-xs-4" for="user_name">Your name</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" name="username"
            id="username" placeholder="Username" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" for="password">Password</label>
        <div class="col-xs-7">
          <input type="password" class="form-control" id="password"
            name="password" placeholder="Password"
            data-bv-stringlength="true"
            data-bv-stringlength-min="8" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" for="email">Email Address</label>
        <div class="col-xs-7">
          <input type="email" class="form-control" id="email"
            name="email" placeholder="Email address" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" for="phone_number">Phone Number</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="phone_number"
            name="phone" placeholder="Phone number"
            data-bv-phone="true"
            data-bv-phone-country="US" required/>
        </div>
      </div>      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-7">
          <button type="submit" class="btn btn-warning">Sign Up!</button>
        </div>
      </div>
    </form>

    <div class="center-text">
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
<div align="center">
<p style="color:red" "align:center"><%= message ? message : ' ' %></p> 
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cheese Burrito</h4>
      </div>
      <div class="modal-body">
      	<p> Daily 11am to 9pm </p> <br>
      	<p> Serving areas: Sanjose, Sunnyvale, Santaclara, Cupertino </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="simpleCart.add('name=Cheese Burrito','size=Default','quantity=1');">Add to Cart</button>-->
      </div>
    </div>
  </div>
</div>
	
<script>
$('#myModal').on('show.bs.modal', function (event) {
  	var li = $(event.relatedTarget) // Button that triggered the modal
  	var recipient = li.data('whatever') // Extract info from data-* attributes
  	var modal = $(this)
  	modal.find('.modal-title').text(recipient)
})
</script> 

<!--Footer--> 
<div class="navbar navbar-default navbar-fixed-bottom">
     <div class="container">
     <p class="text-muted credit text-center">
     © 2014 Healthy Basket ·
      <a href="/aboutus">About</a> ·
      <a href="/contact">Contact</a>
    </p>

   </div> <!-- container-->
   </div> <!-- navbar navbar-default navbar-fixed-bottom" --> 

</body>
</html>

<!--<div align="right"></div>
 <div class='cssmenu'>
<ul>
   <li><a href='signin'><span>SIGN-IN</span></a></li>
</ul>
</div>   
<form name="form" method="post" action="signup" onsubmit="javascript:return validate();"> 
<div align="center">
<h2>SIGN-UP</h2>
<table>
<tr><td bgcolor="#FFFFE0">Username:</td><td bgcolor="#FFFFE0"><input type="text" name="username"></td></tr>
<tr><td bgcolor="#FFFFE0">Password:</td><td bgcolor="#FFFFE0"><input type="password" name="password"></td></tr>
<tr><td bgcolor="#FFFFE0">Display name:</td><td bgcolor="#FFFFE0"><input type="text" name="displayname"></td></tr>
<tr><td bgcolor="#FFFFE0">Email:</td><td bgcolor="#FFFFE0"><input type="text" name="email"></td></tr>
<tr><td></td><td><input type="submit" value="Submit"></td></tr>
</table>
</div>
</form>-->
