.info-card {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: #fffdfd;
border: 1px solid #a4a4a4;
}


.roundify {
border-radius: 5px;
overflow: hidden;
}

.info-card-padding {
padding: 15px;
}

.content-section-headings {
padding-bottom: 18px;
text-align: center;
}

.content-section-header {
font-weight: 300;
padding-bottom: 5px;
}

.h3, h3 {
font-size: 24px;
}

h3 {
margin-top: 20px;
margin-bottom: 10px;
}

.content-section-subheader {
font-weight: 400;
color: #4a4a4a;
padding-bottom: 5px;
}

form {
display: block;
margin-top: 0em;
}

.form-horizontal .form-group {
margin-left: -15px;
margin-right: -15px;
}

.has-feedback {
position: relative;
}

.form-group {
margin-bottom: 15px;
}

.form-horizontal .control-label {
text-align: right;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .radio-inline {
margin-top: 0;
margin-bottom: 0;
padding-top: 9px;
}

.col-xs-4 {
width: 33.33333333%;
}